@import "meyer-reset";
@import "grid";

$white: #ecf0f1;
$black: #34495e;
$grey: #bdc3c7;

$background: #1abc9c;


body {
	font-family: 'Bevan', sans-serif;
	color: $white;
	background: $background;
	padding: 2em;
	font-size: 16px;
	line-height: 1.75em;
}

#above {
	.question_background{
		font-size: 2em;
		letter-spacing: -1px;
		color: $white;
	}

	@media only screen and (max-width: $breakpoint) {
		.question_background {
			font-size: 1.5em;
			letter-spacing: 0px;
		}
	}

	div {
		line-height: 2.25em;
	}

	form {
		margin-top: 3em;
		font-size: 1.5em;
	}

	input {
		font: inherit;
		font-size: 0.75em;
		background: $white;
		border: none;
		line-height: 1.5em;
		text-align: center;
		font-weight: bold;
		padding: 0.25em;
		width: 100%;
	}

	::-webkit-input-placeholder { color: $black; }
	:-moz-placeholder { color: $black; }
	::-moz-placeholder { color: $black; }
	:-ms-input-placeholder { color: $black; }

	.button {
		background: $black;
		font: inherit;
		color: $white;
	}

	#results {
		background-color: $black;
		color: $white;
	}

	.poster {
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}

#below {


	.profile_picture{
		width: 10em;
		height: 10em;
		overflow: hidden;
		border-radius: 50% 50%;

		img { width: 100%; }
	}

}