@import "meyer-reset";
@import "grid";

$white: #ecf0f1;
$black: #34495e;
$grey: #bdc3c7;

$background: #2c3e50;
$color: #16a085;


body {
	font-family: 'Bevan', serif;
	color: $white;
	background: $background;
	padding: 2em;
	font-size: 16px;
	line-height: 1.75em;
}

#above {
	.question_background{
		font-size: 3em;
		letter-spacing: -1px;
		color: $white;
		margin-top: 1em;
	}

	@media only screen and (max-width: $breakpoint) {
		.question_background {
			font-size: 1.4em;
			letter-spacing: 0px;
		}
	}

	div {
		line-height: 2.25em;
	}

	input {
		font: inherit;
		font-size: 0.75em;
		background: $white;
		border: none;
		line-height: 1.5em;
		text-align: center;
		font-weight: bold;
		padding: 0.25em;
		width: 100%;
	}

	::-webkit-input-placeholder { color: $black; }
	:-moz-placeholder { color: $black; }
	::-moz-placeholder { color: $black; }
	:-ms-input-placeholder { color: $black; }

	.button {
		background: $color;
		font: inherit;
		color: $white;
	}

	#results {
		background-color: $black;
		color: $white;
	}

	#posters{
		font-size: 1.2em;
		text-align: center;

		.poster {
			width: 100%;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		a {
			color: $white;
			text-decoration: none;
			background: $color;
			padding: 0.2em 0.7em 0.2em 0.7em;
		}
	}

	@media only screen and (max-width: $breakpoint) {
		.poster {
			display: none;
		}
	}

}

#actors {
	font-family: 'Lato', sans-serif;

	.profile_picture{
		width: 10em;
		height: 10em;
		overflow: hidden;
		border-radius: 50% 50%;

		img { width: 100%; }
	}

}