@import "meyer-reset";
@import "grid";

$accent-color: #CC2649;
$dark-accent-color: #992C4B;
$dark-color: #525252;
$grey: #dfdfdf;



body {
	font-family: Helvetica, sans-serif;
	color: #fff;
	background: $accent-color;
}

#above {
	letter-spacing: -0.1em;

	#header {
		margin-top: 3em;

		h1 {
			font-family: 'Bitter', serif;
			font-weight: bold;
			font-size: 2em;
			line-height: auto;
			text-align: center;
			color: #fff;
			letter-spacing: 0em;
		}
	}

	.question_box{
		padding: 1em 0 0.5em 0;
		background: #fff;
		color: $dark-color;
		outline: 1px solid #fff;
		outline-offset: 0.5em;
	}

	div {
		line-height: 2.25em;
	}

	form {
		margin-top: 5em;
		font-family: 'Bitter', serif;
		font-size: 1.5em;
	}

	input {
		font: inherit;
		background: $grey;
		border: none;
		line-height: 1.5em;
		text-align: center;
		font-weight: bold;
		padding: 0.25em;
	}

	.button {
		padding: 0.25em 1.5em;
		margin: 0.5em;
		background: $dark-accent-color;
		font-weight: normal;
		color: #fff;
	}

	.movie_info {
		font-family: 'Bitter', serif;
		font-size: 1.5em;
		text-align: center;
	}

	.poster {
		img {
			width: 100%;
		}
	}

	@media only screen and (max-width: $breakpoint) {
		.poster {
			width: 48.4%;
			margin: 1% 0.8% 1% 0.8%;
		}
	}
}

#below {
	background-color: $dark-accent-color;;
	padding: 2em;
	#actors li{
		display: inline;

		img{
			width: 175px;
		}
	}

	img {
		width: 100%;
	}

	@media only screen and (max-width: $breakpoint) {
		img{
			display: none;
		}
	}

}