{% extends "base.html" %}
{% block extra_header %}
<style>
	.question_background{
		background: url("{{ first_placeholder.backdrop_image }}");
	}
</style>
{% endblock %}

{% block content %}
<form action="{{ url_for("results") }}" method="post" class="form" style="text-align: center;">
	<div class="section group">
		<div class="col span_1_of_11"></div>
		<div class="col span_9_of_11 question_background">
			<div class="section group">
				<div class="col span_11_of_11 question_line">
					Right now, I'm watching
				</div>
			</div>
			<div class="section group">
				<div class"col span_11_of_11">
					<input type="text" name="movie_one" placeholder="{{ first_placeholder }}"/>
				</div>
			</div>
			<div class="section group">
				<div class="col span_11_of_11 question_line">
					I think one of the actors was also in
				</div>
			</div>
			<div class="section group">
				<div class="col span_11_of_11 question_line">
					<input type="text" name="movie_two" placeholder=""/>
				</div>
			</div>
		</div>
		<div class="col span_1_of_11"></div>
	</div>

	<div class="section group">
		<div class="col span_4_of_11"></div>
		<div class="col span_3_of_11">
			<input class="button" type="submit" value="Were They?" />
		</div>
		<div class="col span_4_of_11"></div>
	</div>
</form>
{% endblock %}